<form class="search-form" id="search-form">
  <div class="form__group field">
    <input
      type="text"
      class="form__field search-input"
      autocomplete="off"
      placeholder="search form"
      name="searchForm"
      id="search-form"
      required
    />
    <label for="searchForm" class="form__label">Search images...</label>
  </div>

  <button
    class="btn-search-form"
    style="--content: 'search'"
    href=""
  >
    <div class="left"></div>
    search
    <div class="right"></div>
  </button>
</form>
